<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado Busqueda</title>
</head>
<body>
<p>Estamos buscando el legajo: {{legajo}} </p>    
{% if persona %}
<ul>
{% for personas in persona %}
    <li>Nombre: {{personas.nombre}} </li>
    <li>Apellido: {{personas.apellido}}</li>
    <li>Legajo: {{personas.legajo}}</li>


{% endfor %}
{% else %}
<li>Legajo no encontrado</li>
</ul>


{% endif %}
</body>
</html>